<form action="/products/" method="post">
  <label>Name:
    <input type="text" name="name" id="">
  </label>Price:
  <label>
    <input type="number" name="price" id="">
  </label>
  <label>Inventory:
    <input type="number" name="inventory" id="">
  </label>
  <input type="submit" value="Submit">
</form>
<br>
<br>
<a href="/products">BACK</a>
<br> {{> footer}}