<form action="/articles/" method="post">
  <label>Title:
    <input type="text" name="title" id="">
  </label>Body:
  <label>
    <input type="text" name="body" id="">
  </label>
  <label>Author:
    <input type="text" name="author" id="">
  </label>
  <input type="submit" value="Submit">
</form>
<br>
<br>
<a href="/articles">BACK</a>
<br> {{> footer}}